    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#start {
    background-color: green;
    color: white;
}

#stop {
    background-color: red;
    color: white;
}
